In [3]:
import pandas as pd
csv={
    'Name':['sanjay','lokesh','sriram','rishvanth','rithi'],
    'age':[22,20,19,22,21]
}
c=pd.DataFrame(csv)
c.head()

        Name  age
0     sanjay   22
1     lokesh   20
2     sriram   19
3  rishvanth   22
4      rithi   21